#header {
    background-color: #c62f2f;
}

#btn_icon {
    border-image: url(/resource/image/icon.png)
}

#btn_window_close {
    border-image: url(/resource/image/close.png)
}

#btn_window_close:hover {
    border-image: url(/resource/image/close_hover.png)
}

#btn_window_max {
    border-image: url(/resource/image/maximize.png)
}

#btn_window_max:hover {
    border-image: url(/resource/image/maximize_hover.png)
}

#btn_window_min {
    border-image: url(/resource/image/minimize.png)
}

#btn_window_min:hover {
    border-image: url(/resource/image/minimize_hover.png)
}

#btn_set {
    border-image: url(/resource/image/header_setting.png)
}

#btn_set:hover {
    border-image: url(/resource/image/header_setting_hover.png)
}

#le_search {
    border: none;
    border-radius: 10px;
    padding: 2px 4px;
    background-color: #a82828;
    color: #cccccc;
    selection-color: yellow;
    selection-background-color: blue;
}
