#Dialog {
    background-color: #FAFAFA;
    border: 1px solid #c8c8c8;
}

#header {
    border: 1px solid #c8c8c8;
    border-bottom: 1px solid #e1e1e2;
    background-color: #fafafa;
}

#label {
    border: none
}

#label_2 {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

#scrollArea {
    border: none;
    background-color: #FAFAFA;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

#scrollAreaWidgetContents {
    font-size: 16px;
    border: none;
}

QScrollBar {
    background: #fafafa;
    width: 8px;
    border: none;
}

QScrollBar::handle {
    border: none;
    background: #e1e1e2;
    border-radius: 4px;
}

QScrollBar::handle:hover {
    background: #cfcfd1;
}

QScrollBar::sub-line {
    display: none;
}

QScrollBar::add-line {
    background: transparent;
}

QCheckBox::indicator::unchecked {
    image: url(/resource/image/checkbox-unchecked.png)
}

QCheckBox::indicator::checked {
    image: url(/resource/image/checkbox-checked.png);
}

#btn_add {
    width: 80px;
    height: 28px;
    border: 1px solid #e1e1e2;
    background-color: #ffffff;
    border-radius: 5px
}

#btn_add:hover {
    background-color: #f5f5f7

}

#btn_confirm {
    width: 80px;
    height: 28px;
    color: #ffffff;
    border: 1px solid #e1e1e2;
    background-color: #0c73c2;
    border-radius: 5px
}

#btn_confirm:hover {
    background-color: #1167a8
}

#btn_close {
    border-image: url(/resource/image/close3.png)
}

#footer {
    border: 1px solid #c8c8c8;
    border-top: 1px solid #e1e1e2;
    background: #f5f5f7;
}